{% load static %}
<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <!-- site logo -->
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo/logo@1024.png' %}"
                                                                  alt="logo"/></a>

            <div class="collapse navbar-collapse">
                <!-- menus -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link" href="{% url 'index' %}">首页</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="category.html">归档</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'user:personal' %}">个人中心</a></li>
                            <li><a class="dropdown-item" href="{% url 'user:personal_alt' %}">个人中心_alt</a></li>
                            <li><a class="dropdown-item" href="minimal.html">简·首页</a></li>
                            <li><a class="dropdown-item" href="classic.html">分类</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="category.html">留言板</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#">友链</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">关于我</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user:login" %}">登录</a>
                    </li>
                </ul>
            </div>

            <!-- header right section -->
            <div class="header-right">

                {% include "widget/social_icons.html" %}

                <!-- header buttons -->
                <div class="header-buttons">
                    <button class="search icon-button">
                        <i class="icon-magnifier"></i>
                    </button>
                    <button class="burger-menu icon-button">
                        <span class="burger-icon"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>