{% load static %}
<!-- widget popular posts -->
<div class="widget rounded">
    <div class="widget-header text-center">
        <h3 class="widget-title">Popular Posts</h3>
        <img src="{% static 'images/wave.svg' %}" class="wave" alt="wave"/>
    </div>
    <div class="widget-content">
        <!-- post -->
        <div class="post post-list-sm circle">
            <div class="thumb circle">
                <span class="number">1</span>
                <a href="blog-single.html">
                    <div class="inner">
                        <img src="{% static 'images/posts/tabs-1.jpg' %}" alt="post-title"/>
                    </div>
                </a>
            </div>
            <div class="details clearfix">
                <h6 class="post-title my-0"><a href="blog-single.html">3 Easy Ways To Make Your
                    iPhone Faster</a></h6>
                <ul class="meta list-inline mt-1 mb-0">
                    <li class="list-inline-item">29 March 2021</li>
                </ul>
            </div>
        </div>
        <!-- post -->
        <div class="post post-list-sm circle">
            <div class="thumb circle">
                <span class="number">2</span>
                <a href="blog-single.html">
                    <div class="inner">
                        <img src="{% static 'images/posts/tabs-2.jpg' %}" alt="post-title"/>
                    </div>
                </a>
            </div>
            <div class="details clearfix">
                <h6 class="post-title my-0"><a href="blog-single.html">An Incredibly Easy Method
                    That Works For All</a></h6>
                <ul class="meta list-inline mt-1 mb-0">
                    <li class="list-inline-item">29 March 2021</li>
                </ul>
            </div>
        </div>
        <!-- post -->
        <div class="post post-list-sm circle">
            <div class="thumb circle">
                <span class="number">3</span>
                <a href="blog-single.html">
                    <div class="inner">
                        <img src="{% static 'images/posts/tabs-3.jpg' %}" alt="post-title"/>
                    </div>
                </a>
            </div>
            <div class="details clearfix">
                <h6 class="post-title my-0"><a href="blog-single.html">10 Ways To Immediately
                    Start Selling Furniture</a></h6>
                <ul class="meta list-inline mt-1 mb-0">
                    <li class="list-inline-item">29 March 2021</li>
                </ul>
            </div>
        </div>
    </div>
</div>