{% load static %}
<!-- social icons -->
<ul class="social-icons list-unstyled list-inline mb-0">
    <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-qq"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-steam"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-weixin"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="fab fa-wordpress-simple"></i></a></li>
</ul>