{% load static %}
<div class="post-bottom clearfix d-flex align-items-center">
    <div class="social-share me-auto">
        <button class="toggle-button icon-share"></button>
        <ul class="icons list-unstyled list-inline mb-0">
            <li class="list-inline-item"><a href="#"><i class="fab fa-qq"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-weixin"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-weibo"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
        </ul>
    </div>
    <div class="more-button float-end">
        <a href="blog-single.html"><span class="icon-options"></span></a>
    </div>
</div>